Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write --ignore-unknown

refactor: changed comment format
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
Due: prettier --write --ignore-unknown

docs: updated packages list
  packages/db-ui-elements-stencil/package.md
Due: markdownlint -c .markdown-lint.yml, prettier --write --ignore-unknown

docs: added another suggested VS Code extension
  .vscode/extensions.json
Due: prettier --write --ignore-unknown

chore: simple addition
  doc/howto-storybook.md
Due: markdownlint -c .markdown-lint.yml, prettier --write --ignore-unknown

Revert "refactor: changed comment format"
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
Due: prettier --write --ignore-unknown

Revert "chore: simple addition"
  doc/howto-storybook.md
Due: markdownlint -c .markdown-lint.yml, prettier --write --ignore-unknown

Revert "docs: added another suggested VS Code extension"
  .vscode/extensions.json
Due: prettier --write --ignore-unknown

Revert "docs: updated packages list"
  package.md
  packages/db-ui-elements-stencil/package.md
Due: markdownlint -c .markdown-lint.yml, prettier --write --ignore-unknown

refactor: corrected the script name
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

deploy: 25898ed21f8a1b3010c7221b706b18a9cbb8f44f
  review/2094-jsdom-types-error-coming-up-through-stenciljs-build/project.json
Due: prettier --write --ignore-unknown

docs: migrated content
  packages/db-ui-elements-stencil/src/components/db-accordion/stories/db-accordion.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-brand/stories/db-brand.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-breadcrumb/stories/db-breadcrumb.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-card/stories/db-card.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-cards/stories/db-cards.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-checkbox/stories/db-checkbox.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-chip/stories/db-chip.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-dropdown/stories/db-dropdown.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-footer/stories/db-footer.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-header/stories/db-header.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-headline/stories/db-headline.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-icon/stories/db-icon.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-image/stories/db-image.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-input/stories/db-input.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-language-switcher/stories/db-language-switcher.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-link/stories/db-link.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-linklist/stories/db-linklist.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-logo/stories/db-logo.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-mainnavigation/stories/db-mainnavigation.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-metanavigation/stories/db-metanavigation.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-notification/stories/db-notifications.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-overflow-menu/stories/db-overflow-menu.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-page/stories/db-page.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-pagination/stories/db-pagination.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-progress/stories/db-progress.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-radio/stories/db-radio.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-sidenavi/stories/db-sidenavi.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-tab-bar/stories/db-tab-bar.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-table/stories/db-table.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-tag/stories/db-tag.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-textarea/stories/db-textarea.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-toggle/stories/db-toggle.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/development/github-version-switcher/stories/github-version-switcher.intro.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started-angular.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started-js.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started-react.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started-vue.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
Due: prettier --write --ignore-unknown

fix: these are conflicting with Storybooks stories names
  packages/db-ui-elements-stencil/src/components/db-checkbox/stories/db-checkbox.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-input/stories/db-input.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-radio/stories/db-radio.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-tab-bar/stories/db-tab-bar.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-textarea/stories/db-textarea.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-toggle/stories/db-toggle.intro.stories.mdx
Due: prettier --write --ignore-unknown

docs(react): added another DbIcon to React showcase
  showcase/react-showcase/src/components/other-elements/index.js
Due: prettier --write --ignore-unknown

docs(react): added another DbIcon to React showcase (#2096)
  showcase/react-showcase/src/components/other-elements/index.js
Due: prettier --write --ignore-unknown

deploy: 3bcf32ed4c1ae74eba6732b2c588f66c98f44353
  review/main/project.json
Due: prettier --write --ignore-unknown

refactor: updated typescript-eslint dependencies
  package-lock.json
  package.json
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-showcase/package-lock.json
Due: prettier --write --ignore-unknown

deploy: e9a24ea3ba6ec41ee45053e43c6b3f338a231d49
  review/main/project.json
Due: prettier --write --ignore-unknown

deploy: c75bc6792adfc78c304276203ad3a3253cc1c62d
  review/refactor-updated-typescript-eslint-dependencies/project.json
Due: prettier --write --ignore-unknown

deploy: d017db3d65429562fdcc8e99d03404455b4e12ec
  review/main/project.json
  review/main/reactwind-showcase/404.html
  review/main/reactwind-showcase/asset-manifest.json
  review/main/reactwind-showcase/index.html
  review/main/reactwind-showcase/static/css/main.783c676c.css
  review/main/reactwind-showcase/static/css/main.783c676c.css.map
  review/main/reactwind-showcase/static/css/main.8fafacb5.css
  review/main/reactwind-showcase/static/css/main.8fafacb5.css.map
Due: stylelint --fix, prettier --write --ignore-unknown

refactor(storybook): ignore major updates for now
  .github/dependabot.yml
Due: prettier --write --ignore-unknown

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --write --ignore-unknown

deploy: 38d0f87583daf71bbb0a01c0ab5e387f9a9661f7
  review/main/project.json
Due: prettier --write --ignore-unknown

refactor: updated StencilJS
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-showcase/package-lock.json
Due: prettier --write --ignore-unknown

refactor: updated StencilJS
  package-lock.json
  packages/db-ui-elements-stencil/package.json
Due: prettier --write --ignore-unknown

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write --ignore-unknown: any of: *
