Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write --ignore-unknown

refactor: regenerated package lock and README files (#2152)
  e2e/package-lock.json
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Due: markdownlint -c .markdown-lint.yml, prettier --write --ignore-unknown

refactor: regenerated package lock files
  package-lock.json
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Due: prettier --write --ignore-unknown

refactor: regenerated package lock files
  package-lock.json
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Due: prettier --write --ignore-unknown

Update README.md
  showcase/angular-lts-minus-1-showcase/README.md
Due: markdownlint -c .markdown-lint.yml, prettier --write --ignore-unknown

deploy: 241a6d59ee6944f222ad62b3a6891f53b7af8d89
  review/1757-remove-angular-14-showcase/project.json
Due: prettier --write --ignore-unknown

refactor: removed Angular 14 and added Angular 16 (#2058)
  .github/dependabot.yml
  package-lock.json
  package.json
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-angular/projects/lib/.browserslistrc
  showcase/angular-lts-minus-1-showcase/.browserslistrc
  showcase/angular-lts-minus-1-showcase/README.md
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-minus-1-showcase/package.json
  showcase/angular-lts-minus-1-showcase/src/app/app.component.css
  showcase/angular-lts-showcase/package-lock.json
  showcase/angular-lts-showcase/package.json
  showcase/angular-lts-showcase/src/app/app.component.css
  showcase/angular-lts-showcase/src/index.html
Due: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write --ignore-unknown

refactor: regenerated package lock file
  package-lock.json
Due: prettier --write --ignore-unknown

refactor: regenerated package lock files
  e2e/package-lock.json
  package-lock.json
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
Due: prettier --write --ignore-unknown

refactor: regenerated package lock files
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
Due: prettier --write --ignore-unknown

refactor: regenerated package lock files
  e2e/package-lock.json
  package-lock.json
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Due: markdownlint -c .markdown-lint.yml, prettier --write --ignore-unknown

refactor: updated jest radically
  package-lock.json
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-react/package.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-vue/package.json
  showcase/angular-lts-minus-1-showcase/package-lock.json
  showcase/angular-lts-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Due: prettier --write --ignore-unknown

refactor(docs): adapted some description for overflow menu and dropdo… (#2127)
  packages/db-ui-elements-stencil/src/components/db-dropdown/stories/db-dropdown.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-overflow-menu/stories/db-overflow-menu.stories.mdx
Due: prettier --write --ignore-unknown

deploy: 4bd328db50e1bf2ca13934b99308e07a52745152
  review/main/iframe.html
  review/main/main.7c2ef36d.iframe.bundle.js
  review/main/main.be85573c.iframe.bundle.js
  review/main/main.be85573c.iframe.bundle.js.LICENSE.txt
  review/main/project.json
Due: prettier --write --ignore-unknown

refactor: further dependabot grouping (#2067)
  .github/dependabot.yml
Due: prettier --write --ignore-unknown

deploy: 0ae6e573eb2d61b12e1f32aa70cc734b354a3fcd
  review/main/project.json
Due: prettier --write --ignore-unknown

feat: provide npm script to link the repositories (#2130)
  package.json
Due: prettier --write --ignore-unknown

deploy: 67d2d2c82ee9329f1349a389e92fefcab6b34a44
  review/main/project.json
Due: prettier --write --ignore-unknown

refactor: reference cypress version explicitly (#1846)
  package.json
Due: prettier --write --ignore-unknown

deploy: ec169b732ac23be83749d0d0b5799de8d40a31fc
  review/1932-form-elements-provide-possibility-to-visually-hide-the-label/project.json
Due: prettier --write --ignore-unknown

refactor: updated to node version 20
  .nvmrc
Due: prettier --write --ignore-unknown

Update action.yml
  .github/actions/npm-cache/action.yml
Due: prettier --write --ignore-unknown

deploy: 73f59c4edba8096d268932f2bb6ae7736935453a
  review/main/project.json
  review/main/reactwind-showcase/404.html
  review/main/reactwind-showcase/asset-manifest.json
  review/main/reactwind-showcase/index.html
  review/main/reactwind-showcase/static/css/main.5309f780.css
  review/main/reactwind-showcase/static/css/main.5309f780.css.map
  review/main/reactwind-showcase/static/css/main.8fafacb5.css
  review/main/reactwind-showcase/static/css/main.8fafacb5.css.map
Due: stylelint --fix, prettier --write --ignore-unknown

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write --ignore-unknown: any of: *
