Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, eslint --fix

refactor(dependabot): added necessary package to ignore for updates (#2685)
  .github/dependabot.yml
Due: none

refactor(dependabot): added necessary package to ignore for updates
  .github/dependabot.yml
Due: none

deploy: 4be461b62643dd58c20e7e612a06cd4d98ad01b4
  review/main/project.json
Due: none

deploy: a11ce44a48e9f9c1716bc34dd8d028893a52fe66
  review/refactor-dependabot-ignore-further-package/project.json
Due: none

refactor: Update `CODE-OF-CONDUCT.md` (#2682)
  CODE-OF-CONDUCT.md
Due: markdownlint -c .markdown-lint.yml

deploy: b453c9fc0080c1658ef91902c507af5a83ce211d
  review/refactor-updated-code-of-conduct/project.json
Due: none

fix: we need to set this state initially as well
  packages/db-ui-elements-stencil/src/components/db-textarea/db-textarea.tsx
Due: eslint --fix

fix: "referenceError: h is not defined"
  packages/db-ui-elements-stencil/src/components/db-textarea/db-textarea.tsx
Due: eslint --fix

refactor: resilience
  packages/db-ui-elements-stencil/src/components/db-textarea/db-textarea.tsx
Due: eslint --fix

fix(textarea): we need to set the value length state initially as well (#2692)
  packages/db-ui-elements-stencil/src/components/db-textarea/db-textarea.tsx
Due: eslint --fix

fix: @typescript-eslint/no-unused-vars
  packages/db-ui-elements-stencil/src/utils/utils.ts
Due: eslint --fix

refactor: squash dependabot PRs
  .github/workflows/99-auto-merge.yml
Due: none

refactor(dependabot): added necessary package to ignore for updates (#2687)
  .github/dependabot.yml
Due: none

Update stencil.config.ts
  packages/db-ui-elements-stencil/stencil.config.ts
Due: eslint --fix

refactor: squash dependabot PRs (#2701)
  .github/workflows/99-auto-merge.yml
Due: none

deploy: 6541ac997e432ec838103c33afb14a3cceccc4bf
  review/main/angular-active-showcase/polyfills.js
  review/main/project.json
Due: eslint --fix

refactor: updated DB UI Core version
  package-lock.json
  packages/db-ui-elements-stencil/package.json
Due: none

refactor: adapted the HTML changes out of DB UI Core
  packages/db-ui-elements-stencil/src/components/db-chip/db-chip.tsx
Due: eslint --fix

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  eslint --fix: any of: *.{js,ts,tsx}
