Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.md": "markdownlint -c .markdown-lint.yml",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,ts,tsx}": "eslint --fix "
}

deploy: 7daba33460cfa40f9ea332be1746401de5c2286a
  review/main/project.json
Due: none

chore: update Browserslist database
  package-lock.json
Due: none

Update README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: Simplify copyright display in db-footer component
  packages/db-ui-elements-stencil/src/components/db-footer/db-footer.tsx
Due: eslint --fix

Update db-footer.tsx
  packages/db-ui-elements-stencil/src/components/db-footer/db-footer.tsx
Due: eslint --fix

Update db-footer.cy.js
  e2e/cypress/e2e/02-0-navigation/db-footer.cy.js
Due: eslint --fix

refactor: correct copyright test in `db-footer` component (#3185)
  e2e/cypress/e2e/02-0-navigation/db-footer.cy.js
Due: eslint --fix

deploy: 56c1c497ca90db298c48e6948bd9c95a717aec22
  review/main/project.json
Due: none

deploy: d091f6c3cc4ff4162d2a5116dc34b9bb2b357c2a
  review/main/project.json
Due: none

deploy: 414f706b1db9aa263e85d47f79f68cde66660d66
  review/main/project.json
Due: none

refactor: running npm audit fix
  package-lock.json
Due: none

refactor: regenerated package lock file
  package-lock.json
Due: none

refactor: running npm audit fix again
  package-lock.json
Due: none

refactor: running `npm audit fix` (#3190)
  package-lock.json
Due: none

Fix header formatting in README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

deploy: e3d5b0ace54694285db6ca34702a365eff0bb825
  review/main/project.json
Due: none
