Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.md": "markdownlint -c .markdown-lint.yml",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,ts,tsx}": "eslint --fix "
}

refactor: using `.nvmrc` entry
  .github/actions/npm-cache/action.yml
Due: none

refactor: using `.nvmrc` entry (#2930)
  .github/actions/npm-cache/action.yml
Due: none

deploy: d9a15532d6afd1e0a1433123dec22f39c291a232
  review/main/project.json
Due: none

deploy: 0ac143dcc749ded5c16d7df093cf46e16fa69815
  review/main/project.json
Due: none

deploy: f92ad0a1f787948339b75be2ee45a4a6aac5d325
  review/main/project.json
Due: none

docs: clarification
  README.md
Due: markdownlint -c .markdown-lint.yml

chore: update `actions/github-script` (#2923)
  .github/actions/extract-branch/action.yml
Due: none

deploy: 9cc99c713e5edbab8d4e42c2c11999365fd44042
  review/2460-chore-update-actionsgithub-script/angular-showcase/main.js
  review/2460-chore-update-actionsgithub-script/project.json
Due: eslint --fix

deploy: 5d674c5afa1c639ab3453bf442e3ecae4b53d924
  review/main/angular-showcase/main.js
  review/main/project.json
Due: eslint --fix

deploy: 9fab12ca596eeb6fdbb2e477e3c129b8625d1d50
  review/docs-clarification/angular-showcase/main.js
  review/docs-clarification/project.json
Due: eslint --fix

Create 99-reuse-compliance-check.yml
  .github/workflows/99-reuse-compliance-check.yml
Due: none

docs: clarification (#2936)
  README.md
Due: markdownlint -c .markdown-lint.yml

deploy: 69ee66ceb00f436d1210f7c681b0d63b1f35ff99
  review/docs-clarification/project.json
Due: none

deploy: 144d494d5eede2c4ee9e5c2ca5179fab65028ec4
  review/main/project.json
Due: none

deploy: 07c99eb6377b18ac3b1f7f3ddf612fc367a14320
  review/main/project.json
Due: none

chore(docs): corrected copy
  packages/db-ui-elements-angular/README.md
  packages/db-ui-elements-react/README.md
  packages/db-ui-elements-stencil/README.md
  packages/db-ui-elements-vue/README.md
  showcase/angular-showcase/README.md
  showcase/react-showcase/README.md
  showcase/reactwind-showcase/README.md
  showcase/vue-showcase/README.md
Due: markdownlint -c .markdown-lint.yml

chore(docs): corrected copy (#2971)
  packages/db-ui-elements-angular/README.md
  packages/db-ui-elements-react/README.md
  packages/db-ui-elements-stencil/README.md
  packages/db-ui-elements-vue/README.md
  showcase/angular-showcase/README.md
  showcase/react-showcase/README.md
  showcase/reactwind-showcase/README.md
  showcase/vue-showcase/README.md
Due: markdownlint -c .markdown-lint.yml

deploy: 7c413d504e5d1d272bc293589c44eaa79f8844bc
  review/main/project.json
Due: none

docs: mentioning v3
  README.md
Due: markdownlint -c .markdown-lint.yml

docs: mentioning v3 (#2985)
  README.md
Due: markdownlint -c .markdown-lint.yml

deploy: 15f824e752fb714a53e1c5e03639e04498c5e261
  review/main/project.json
Due: none

deploy: 3288f64b19f4c122f02ebfa7ed192b6f21ad53ba
  review/main/project.json
Due: none

deploy: e5f3b4f3d2303db870c85356fe3b30d3fe9bbf01
  review/main/project.json
Due: none

refactor(dependabot): corrected typescript-eslint pattern
  .github/dependabot.yml
Due: none

refactor(dependabot): corrected typescript-eslint pattern (#2993)
  .github/dependabot.yml
Due: none

deploy: 3c5969f95d880391a986b339921f80965bc0619c
  review/main/project.json
Due: none
