Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.md": "markdownlint -c .markdown-lint.yml",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,ts,tsx}": "eslint --fix "
}

chore: update Browserslist database
  package-lock.json
Due: none

Update README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

Fix header formatting in README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

deploy: bb36a320ab5ebc9c7ce2e89449aa9ccb24486ba5
  review/chore-update-browserslist-database/project.json
Due: none

refactor: running npm audit fix
  package-lock.json
Due: none

deploy: 4f0391956775d88a6805035315034795e5ddd6e2
  review/main/project.json
Due: none

refactor: updating Angular
  .github/dependabot.yml
  package-lock.json
  package.json
  packages/db-ui-elements-angular/angular.json
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-angular/projects/lib/src/db-ui-elements-module.ts
  packages/db-ui-elements-angular/projects/lib/src/stencil-generated/index.ts
  packages/db-ui-elements-angular/tsconfig.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/stencil.config.ts
  showcase/angular-showcase/angular.json
  showcase/angular-showcase/package.json
  showcase/angular-showcase/src/app/app.component.ts
  showcase/angular-showcase/src/app/components/form/form.component.ts
  showcase/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcase/angular-showcase/src/app/components/other-components/other-components.component.ts
  showcase/angular-showcase/src/app/components/other-elements/other-elements.component.ts
  showcase/angular-showcase/src/app/components/tab-bar/tab-bar.component.ts
  showcase/angular-showcase/src/app/components/tables/tables.component.ts
  showcase/angular-showcase/tsconfig.app.json
  showcase/angular-showcase/tsconfig.base.json
Due: eslint --fix

refactor: regenerated lock file
  package-lock.json
Due: none
