Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.md": "markdownlint -c .markdown-lint.yml",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,ts,tsx}": "eslint --fix "
}

deploy: c6fde24147243e7104989436e4fcb3363a74a9d0
  review/main/project.json
Due: none

docs(datalist): simplification
  packages/db-ui-elements-stencil/src/components/db-input/stories/db-input.intro.stories.mdx
Due: none

docs(datalist): simplification (#2717)
  packages/db-ui-elements-stencil/src/components/db-input/stories/db-input.intro.stories.mdx
Due: none

deploy: 1b2c1a3741f8e6c634d655d436d9df83a8fab9de
  review/docs-datalist-simplification/project.json
Due: none

docs: corrected links
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-checkbox/stories/db-checkbox.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-icon/stories/db-icon.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-input/stories/db-input.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-link/stories/db-link.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-radio/stories/db-radio.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-textarea/stories/db-textarea.intro.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
Due: none

refactor: corrected those links
  e2e/cypress/e2e/00-0-intro/welcome-story.cy.js
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
Due: eslint --fix

docs: corrected links (#2726)
  e2e/cypress/e2e/00-0-intro/welcome-story.cy.js
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-checkbox/stories/db-checkbox.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-icon/stories/db-icon.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-input/stories/db-input.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-link/stories/db-link.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-radio/stories/db-radio.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-textarea/stories/db-textarea.intro.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
Due: eslint --fix

fix(input): correctly setting initial counter value
  packages/db-ui-elements-stencil/src/components/db-input/db-input.tsx
Due: eslint --fix

refactor: updated test
  packages/db-ui-elements-stencil/src/components/db-input/__tests__/db-input.spec.tsx
Due: eslint --fix

fix(safari): restored list-style type for VoiceOver screenreader
  showcase/angular-active-showcase/src/app/app.component.css
  showcase/angular-lts-showcase/src/app/app.component.css
  showcase/playground-showcase/src/editor/tailwind.generated.css
Due: stylelint --fix

fix(button): small icononly variant isn't quadratic
  packages/db-ui-elements-stencil/src/components/db-button/db-button.scss
Due: stylelint --fix

deploy: 23fbf4b1aeba46e2e04ccc503ee50bd5c89fadc4
  review/main/project.json
Due: none

fix(safari): restored list-style type for VoiceOver screenreader (#2734)
  showcase/angular-active-showcase/src/app/app.component.css
  showcase/angular-lts-showcase/src/app/app.component.css
  showcase/playground-showcase/src/editor/tailwind.generated.css
Due: stylelint --fix

deploy: df0a9125ec06cedc1b67a7fb45260c9e484cd904
  review/2733-fixsafari-restored-list-style-type/project.json
Due: none

fix(input): correctly setting initial counter value (#2732)
  packages/db-ui-elements-stencil/src/components/db-input/__tests__/db-input.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-input/db-input.tsx
Due: eslint --fix

deploy: 40143c9e41d009fd36586251036d07aecd5a75a3
  review/main/project.json
Due: none
