Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, eslint --fix

fix(button): small icononly variant isn't quadratic (#2736)
  packages/db-ui-elements-stencil/src/components/db-button/db-button.scss
Due: stylelint --fix

deploy: eda0e3a5529d0c69be500d93f09a4fc5b4aefe08
  review/main/angular-active-showcase/main.js
  review/main/angular-lts-showcase/main.js
  review/main/js/.gitkeep
  review/main/playground-showcase/js/.gitkeep
  review/main/project.json
Due: eslint --fix

refactor: resilience
  .husky/pre-commit
Due: none

refactor: resilience (#2762)
  .husky/pre-commit
Due: none

chore: update cancel workflow action
  .github/workflows/00-init.yml
Due: none

Update default.yml
  .github/workflows/default.yml
Due: none

deploy: e9e6bfa79b644111eb176bd421d61eacd697348e
  review/chore-cancel-workflow/project.json
Due: none

deploy: 57d9e9359c519f06b3eb9e11c718d8e910979a84
  review/chore-cancel-workflow/angular-active-showcase/main.js
  review/chore-cancel-workflow/project.json
Due: eslint --fix

feat: generating provenance statements
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Due: none

Update publish-npm.sh
  .github/scripts/publish-npm.sh
Due: none

chore: update cancel workflow action (#2766)
  .github/workflows/00-init.yml
  .github/workflows/default.yml
Due: none

Update adr-01-framework.md
  doc/adr/adr-01-framework.md
Due: markdownlint -c .markdown-lint.yml

chore: typo (#2784)
  doc/adr/adr-01-framework.md
Due: markdownlint -c .markdown-lint.yml

deploy: 25e4cb1097035282ea09fb4d0c4628287bd488b8
  review/main/angular-active-showcase/main.js
  review/main/project.json
Due: eslint --fix

feat: generating provenance statements (#2771)
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Due: none

deploy: 3971c0b8525859770c2868d4b759f5030fdca9bc
  review/main/project.json
Due: none

chore: update several dependencies
  package-lock.json
  package.json
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-stencil/.eslintignore
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/src/components/db-table/db-table.tsx
  packages/db-ui-elements-stencil/src/utils/utils.ts
  showcase/angular-active-showcase/package.json
  showcase/angular-lts-showcase/package.json
  showcase/playground-showcase/package.json
  showcase/react-showcase/package.json
  showcase/reactwind-showcase/package.json
Due: eslint --fix

chore: update tslib
  package-lock.json
  showcase/angular-lts-showcase/package.json
Due: none

deploy: 71142d3b2fea69c70726047a36097a75c5b77cde
  review/main/angular-active-showcase/3rdpartylicenses.txt
  review/main/angular-active-showcase/main.js
  review/main/project.json
Due: eslint --fix

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  eslint --fix: any of: *.{js,ts,tsx}
