Repository db-ui/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, eslint --fix

feat: self healing dependabot updates (#3041)
  .github/workflows/99-self-healing-dependabot-updates.yml
  .github/workflows/pull-request.yml
Due: none

deploy: 5f7ecb637d8a91c8fcfa28e107a45cf198afdbfe
  review/main/project.json
Due: none

refactor: optimized (S)CSS code by stylelint aspects
  packages/db-ui-elements-stencil/src/components/db-sidenavi/db-sidenavi.scss
  showcase/playground-showcase/src/editor/playground.css
  showcase/playground-showcase/src/editor/tailwind.generated.css
  showcase/playground-showcase/src/index.css
  showcase/react-showcase/src/App.css
  showcase/react-showcase/src/index.css
  showcase/reactwind-showcase/src/index.css
Due: stylelint --fix

Update README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

Update index.css
  showcase/reactwind-showcase/src/index.css
Due: stylelint --fix

refactor: optimization
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

refactor: optimization (#3043)
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

deploy: 5a9f24533ca58b651142b4b63b4b2b9b22e6d913
  review/main/project.json
Due: none

refactor: we need to ignore the h function import
  packages/db-ui-elements-stencil/.eslintrc.json
Due: none

refactor: running prettier
  .github/dependabot.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

refactor: we need to ignore the `h` function import (#3055)
  packages/db-ui-elements-stencil/.eslintrc.json
Due: none

refactor: updated to DB UI Core Version 3.3.4
  package-lock.json
  packages/db-ui-elements-stencil/package.json
Due: none

refactor: running prettier (#3056)
  .github/dependabot.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

deploy: c7ec1a8b256095bbd5e572a61a921c79effdf6ae
  review/main/project.json
Due: none

refactor: downgraded zone.js to prevent a conflict
  package-lock.json
  packages/db-ui-elements-angular/package.json
  showcase/angular-showcase/package.json
Due: none

refactor: regenerated package lock files
  e2e/package-lock.json
  package-lock.json
Due: none

Revert "refactor: regenerated package lock files"
  e2e/package-lock.json
Due: none

deploy: ed374bae71ce9b15bd3f98376ebd1f47bb770dd5
  review/refactor-downgraded-zone-js-to-prevent-dependency-conflicts/project.json
  review/refactor-downgraded-zone-js-to-prevent-dependency-conflicts/sb-addons/controls-3/manager-bundle.js
Due: eslint --fix

refactor: downgraded zone.js to prevent a conflict (#3058)
  package-lock.json
  packages/db-ui-elements-angular/package.json
  showcase/angular-showcase/package.json
Due: none

refactor: regenerated package lock file
  package-lock.json
Due: none

refactor: added relevant field
  package.json
Due: none

fix: structure
  packages/db-ui-elements-stencil/src/components/db-brand/db-brand.tsx
Due: eslint --fix

docs: added documentation on the regeneration of snapshots
  e2e/cypress/e2e/README.md
Due: markdownlint -c .markdown-lint.yml

refactor: optimized build
  packages/db-ui-elements-stencil/src/components/development/github-version-switcher/github-version-switcher.tsx
Due: eslint --fix

refactor: update browserslist database
  .github/workflows/99-update-browserslist-database.yml
Due: none

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  eslint --fix: any of: *.{js,ts,tsx}
